<!--The content below is only a placeholder and can be replaced.-->
<div style="margin: 50px">
  <h3>Test International Telephone Input Form</h3>
  <br>
  <div class="mb-2">
    <button (click)="changePreferredCountries()">Change Preferred Countries</button>
  </div>
  <form #f="ngForm" [formGroup]="phoneForm">
    <ngx-intl-tel-input
    [cssClass]="'custom'"
    [preferredCountries]="preferredCountries"
    [enableAutoCountrySelect]="false"
    [enablePlaceholder]="true"
    [searchCountryFlag]="true"
    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
    [searchCountryPlaceholder]="'Search Country'"
    [selectFirstCountry]="false"
    [selectedCountryISO]="CountryISO.India"
    [maxLength]="15"
    [tooltipField]="TooltipLabel.Name"
    [phoneValidation]="true"
    [separateDialCode]="true"
    name="phone"
    formControlName="phone"></ngx-intl-tel-input>
  </form>
  <br>
  <div><strong>Is input valid:</strong> <pre>{{ !f.form.controls['phone'].invalid }}</pre></div>
  <div><strong>Is input touched:</strong> <pre>{{ f.form.controls['phone'].touched }}</pre></div>
  <div><strong>Is form valid:</strong> <pre>{{ f.form.valid }}</pre></div>
  <div><strong>Form value:</strong> <pre>{{ f.form.value | json }}</pre></div>
  <div><strong>Form validation errors:</strong> <pre>{{ f.form.controls['phone'].errors | json }}</pre></div>
</div>

