<!--The content below is only a placeholder and can be replaced.-->
<div class="container mt-5">
	<h3>Test International Telephone Input Form</h3>
	<hr />

	<div class="row">
		<div class="col-md-8">
			<form [formGroup]="phoneForm">
				<div class="form-group">
					<label for="phone">Phone number</label>
					<ngx-intl-tel-input
						[cssClass]="'form-control'"
						[preferredCountries]="preferredCountries"
						[enableAutoCountrySelect]="false"
						[enablePlaceholder]="true"
						[searchCountryFlag]="true"
						[searchCountryField]="[searchField.Iso2, searchField.Name]"
						[selectFirstCountry]="false"
						[selectedCountryISO]="countries.India"
						[maxLength]="15"
						[phoneValidation]="true"
						[separateDialCode]="separateDialCode"
						name="phone"
						formControlName="phone"
					>
					</ngx-intl-tel-input>
				</div>
				<button class="btn btn-danger" (click)="phoneForm.reset()">
					Reset
				</button>
			</form>
		</div>
		<div class="col-md-4">
			<div class="my-2">
				<button class="btn btn-primary" (click)="changePreferredCountries()">
					Change Preferred Countries
				</button>
				<div class="form-check">
					<input
						name="separateDialCode"
						class="form-check-input"
						type="checkbox"
						[(ngModel)]="separateDialCode"
					/>
					<label class="form-check-label" for="separateDialCode"
						>Separate Dial Code?</label
					>
				</div>
			</div>

			<div>
				<b>Is input valid:</b>
				<pre>{{ !f.phone?.invalid }}</pre>
			</div>
			<div>
				<b>Is input touched:</b>
				<pre>{{ f.phone?.touched }}</pre>
			</div>
			<div>
				<b>Is form valid:</b>
				<pre>{{ phoneForm.valid }}</pre>
			</div>
			<div>
				<b>Form value:</b>
				<pre>{{ phoneForm.value | json }}</pre>
			</div>
			<div>
				<b>Form validation errors:</b>
				<pre>{{ f.phone?.errors | json }}</pre>
			</div>
		</div>
	</div>
</div>
