name: Publish Npm Package

on:
  release:
    types: [published]
      
jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18
          registry-url: https://npm.pkg.github.com/
          scope: '@travelnetsolutions'
      - run: npm install
      - run: npm run package
      - run: cd dist/ngx-intl-tel-input && npm publish
        env: 
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
